body{
    background: lightgrey;
}

#navbar{
    display: flex;
    background-color: rgb(29, 37, 69);
    padding: 1%;
    column-gap: 20px;
    border-bottom: solid 2px white;
}

.search{
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    column-gap: 10px;
}

.home{
    text-decoration: none;
    color: white;
}

.link{
    color: gray;
    text-decoration: none;
}

#nav{
    color: white;
}

#drpdw, #disabled-button{
    border: none;
    background-color: rgb(29, 37, 69);
    color: gray;
}

#button-search{
    color: rgb(0, 255, 0);
    border: solid 1px rgb(0, 255, 0);
    background-color: rgb(29, 37, 69);
}

#button-search:hover{
    color: white;
    border: solid 1px white;
    background-color: rgb(0, 255, 0);

}

@media screen and (max-width: 768px) {

    *{
        visibility: hidden;
    }

    #navbar {
        visibility: visible;
        display: flex;
        background-color: rgb(29, 37, 69);
        padding: 1%;
        column-gap: 20px;
        border-bottom: solid 2px white;
    }

    #nav {
        color: white;
        visibility: visible;
    }

    .hamburgher {
        visibility: visible;
        display: flex;
        flex-direction: column;
        background-color: rgb(29, 37, 69);
        justify-content: space-between ;
    }
    
    .item {
        visibility: visible;
        width: 20px;
        height: 3px;
        background-color: white;
        border-radius: 3px;
    }
}