/* body {
    background-color: #011212;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: #ff8800;
    border-radius: 50px;
} */

/* Riscrivi le regole utilizzando custom properties. */
:root{
    --coloreBG: #011212;
    --dimensioniSTD: 100px;
    --colorePalla: #ff8800;
}

body{
    background-color: var(--coloreBG);
}

.ball{
    width: var(--dimensioniSTD);
    height: var(--dimensioniSTD);
    background-color: var(--colorePalla);
    border-radius: 50px;
}